body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace; 
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 1200px;
}

@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
}

#ascii-art {
    margin-top: 100px;
    white-space: pre;
    line-height: 0.5em;
    font-size: 0.2vw;
    width: 50vw;
    max-width: 50vw;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    animation: colorChange 4s infinite linear;
}

.pulsating-text {
    font-size: 10rem; 
    color: rgb(255, 255, 255); 
    text-align: center; 
    animation: pulsate 1s infinite; 
}

@keyframes pulsate {
    0%, 100% {
        opacity: 0.6; 
        transform: scale(1); 
    }
    50% {
        opacity: 1; 
        transform: scale(1.2); 
    }
}
  

@media (max-width: 600px) {
    #ascii-art {
        font-size: 3px;
        line-height: 2px;
        width: 80vw;
        max-width: 80vw;
        height: 60vh;
    }
    #total-amount {
        font-size: 16px;
    }
    #pay-button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
  

@media (min-width: 601px) and (max-width: 1024px) {
    #ascii-art {
      font-size: 3px;
      line-height: 0.5em;
      width: 70%;
      max-width: 700px;
      height: auto;
    }
    #total-amount {
      font-size: 18px;
      top: 30px;
      right: 30px;
    }
    #pay-button {
      padding: 12px 24px;
      font-size: 17px;
    }
}
